/****************************************
* page test d'arrières plans et couleurs
****************************************/

/* éléments de mise en page */
.singular-page-1073 *,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.singular-page-1073 section {
	position: relative;
	color: #bc101a;
	text-align: center;
}

.singular-page-1073 .col-3 {
	padding: 20px 2px;
}

.singular-page-1073 h2 {
	color: #bc101a;
	text-align: center;
	font-size: 1.3em;
}

.singular-page-1073 h6 {
	color: #bc101a;
	text-align: center;
	font-size: 1.1em;
}

.singular-page-1073 section p {
	color: #bc101a;
	font-size: 0.9em;
	line-height: 1;
}

.singular-page-1073 .col-3 .column {
	border: 2px solid #bc101a;
	width: 32%;
	text-align: center;
}

.singular-page-1073 .column {
	display: inline-block;
	vertical-align: top;
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
	.singular-page-1073 section {
		font-size: 80%;
	}
}

@media screen and (max-width: 54em) {
	.singular-page-1073 .column {
		display: block;
		width: 100% !important;
	}
}

/* éléments de couleur générés avec un fichier excel
* creation tests arrieres plans.xlsx (D:\gh-WEB\WP-theme-ald1) */

/* couleur 20% */
.singular-page-1073 .snow-20 { background-color: rgba(255,250,250,0.2) ;  }
.singular-page-1073 .whitesmoke-20 { background-color: rgba(245,245,245,0.2) ;  }
.singular-page-1073 .thistle-20 { background-color: rgba(216,191,216,0.2) ;  }
.singular-page-1073 .oldlace-20 { background-color: rgba(253,245,230,0.2) ;  }
.singular-page-1073 .mistyrose-20 { background-color: rgba(255,228,225,0.2) ;  }
.singular-page-1073 .linen-20 { background-color: rgba(250,240,230,0.2) ;  }
.singular-page-1073 .lavender-20 { background-color: rgba(230,230,250,0.2) ;  }
.singular-page-1073 .lavenderblush-20 { background-color: rgba(255,240,245,0.2) ;  }
.singular-page-1073 .ivory-20 { background-color: rgba(255,255,240,0.2) ;  }
.singular-page-1073 .ghostwhite-20 { background-color: rgba(248,248,255,0.2) ;  }
.singular-page-1073 .floralwhite-20 { background-color: rgba(255,250,240,0.2) ;  }
.singular-page-1073 .azure-20 { background-color: rgba(240,255,255,0.2) ;  }
.singular-page-1073 .beige-20 { background-color: rgba(245,245,220,0.2) ;  }
.singular-page-1073 .aliceblue-20 { background-color: rgba(240,248,255,0.2) ;  }
.singular-page-1073 .antiquewhite-20 { background-color: rgba(250,235,215,0.2) ;  }

/* couleur 60% */
.singular-page-1073 .snow-60 { background-color: rgba(255,250,250,0.6) ;  }
.singular-page-1073 .whitesmoke-60 { background-color: rgba(245,245,245,0.6) ;  }
.singular-page-1073 .thistle-60 { background-color: rgba(216,191,216,0.6) ;  }
.singular-page-1073 .oldlace-60 { background-color: rgba(253,245,230,0.6) ;  }
.singular-page-1073 .mistyrose-60 { background-color: rgba(255,228,225,0.6) ;  }
.singular-page-1073 .linen-60 { background-color: rgba(250,240,230,0.6) ;  }
.singular-page-1073 .lavender-60 { background-color: rgba(230,230,250,0.6) ;  }
.singular-page-1073 .lavenderblush-60 { background-color: rgba(255,240,245,0.6) ;  }
.singular-page-1073 .ivory-60 { background-color: rgba(255,255,240,0.6) ;  }
.singular-page-1073 .ghostwhite-60 { background-color: rgba(248,248,255,0.6) ;  }
.singular-page-1073 .floralwhite-60 { background-color: rgba(255,250,240,0.6) ;  }
.singular-page-1073 .azure-60 { background-color: rgba(240,255,255,0.6) ;  }
.singular-page-1073 .beige-60 { background-color: rgba(245,245,220,0.6) ;  }
.singular-page-1073 .aliceblue-60 { background-color: rgba(240,248,255,0.6) ;  }
.singular-page-1073 .antiquewhite-60 { background-color: rgba(250,235,215,0.6) ;  }

/* couleur 100% */
.singular-page-1073 .snow-100 { background-color: rgba(255,250,250,1) ;  }
.singular-page-1073 .whitesmoke-100 { background-color: rgba(245,245,245,1) ;  }
.singular-page-1073 .thistle-100 { background-color: rgba(216,191,216,1) ;  }
.singular-page-1073 .oldlace-100 { background-color: rgba(253,245,230,1) ;  }
.singular-page-1073 .mistyrose-100 { background-color: rgba(255,228,225,1) ;  }
.singular-page-1073 .linen-100 { background-color: rgba(250,240,230,1) ;  }
.singular-page-1073 .lavender-100 { background-color: rgba(230,230,250,1) ;  }
.singular-page-1073 .lavenderblush-100 { background-color: rgba(255,240,245,1) ;  }
.singular-page-1073 .ivory-100 { background-color: rgba(255,255,240,1) ;  }
.singular-page-1073 .ghostwhite-100 { background-color: rgba(248,248,255,1) ;  }
.singular-page-1073 .floralwhite-100 { background-color: rgba(255,250,240,1) ;  }
.singular-page-1073 .azure-100 { background-color: rgba(240,255,255,1) ;  }
.singular-page-1073 .beige-100 { background-color: rgba(245,245,220,1) ;  }
.singular-page-1073 .aliceblue-100 { background-color: rgba(240,248,255,1) ;  }
.singular-page-1073 .antiquewhite-100 { background-color: rgba(250,235,215,1) ;  }


/* éléments de background générés avec un fichier excel
* creation tests arrieres plans.xlsx (D:\gh-WEB\WP-theme-ald1) */
.singular-page-1073  .pattern-016 { background-image: url('../images/pattern-016.png');  }
.singular-page-1073  .wood-021 { background-image: url('../images/wood-021.png');  }
.singular-page-1073  .pattern-022 { background-image: url('../images/pattern-022.png');  }
.singular-page-1073  .pattern-024 { background-image: url('../images/pattern-024.png');  }
.singular-page-1073  .pattern-026 { background-image: url('../images/pattern-026.png');  }
.singular-page-1073  .pattern-027 { background-image: url('../images/pattern-027.png');  }
.singular-page-1073  .pattern-029 { background-image: url('../images/pattern-029.png');  }
.singular-page-1073  .lines-60 { background-image: url('../images/lines-60.png');  }
.singular-page-1073  .arabesque { background-image: url('../images/arabesque.png');  }
.singular-page-1073  .black-felt { background-image: url('../images/black-felt.png');  }
.singular-page-1073  .black-linen { background-image: url('../images/black-linen.png');  }
.singular-page-1073  .black-thread-light { background-image: url('../images/black-thread-light.png');  }
.singular-page-1073  .bright-squares { background-image: url('../images/bright-squares.png');  }
.singular-page-1073  .brushed-alum-dark { background-image: url('../images/brushed-alum-dark.png');  }
.singular-page-1073  .cartographer { background-image: url('../images/cartographer.png');  }
.singular-page-1073  .checkered-pattern { background-image: url('../images/checkered-pattern.png');  }
.singular-page-1073  .climpek { background-image: url('../images/climpek.png');  }
.singular-page-1073  .corrugation { background-image: url('../images/corrugation.png');  }
.singular-page-1073  .cubes { background-image: url('../images/cubes.png');  }
.singular-page-1073  .dark-denim { background-image: url('../images/dark-denim.png');  }
.singular-page-1073  .dark-matter { background-image: url('../images/dark-matter.png');  }
.singular-page-1073  . dark-mosaic { background-image: url('../images/ dark-mosaic.png');  }
.singular-page-1073  .diagmonds-light { background-image: url('../images/diagmonds-light.png');  }
.singular-page-1073  .diagonal-striped-brick { background-image: url('../images/diagonal-striped-brick.png');  }
.singular-page-1073  .dimension { background-image: url('../images/dimension.png');  }
.singular-page-1073  .gplay { background-image: url('../images/gplay.png');  }
.singular-page-1073  .graphy-dark { background-image: url('../images/graphy-dark.png');  }
.singular-page-1073  .graphy { background-image: url('../images/graphy.png');  }
.singular-page-1073  .light-wool { background-image: url('../images/light-wool.png');  }
.singular-page-1073  . low-contrast-linen { background-image: url('../images/ low-contrast-linen.png');  }
.singular-page-1073  .09 purty-wood { background-image: url('../images/09 purty-wood.png');  }
.singular-page-1073  .random-grey-variations { background-image: url('../images/random-grey-variations.png');  }
.singular-page-1073  .retina-wood { background-image: url('../images/retina-wood.png');  }
.singular-page-1073  .rough-cloth-light { background-image: url('../images/rough-cloth-light.png');  }
.singular-page-1073  .simple-dashed { background-image: url('../images/simple-dashed.png');  }
.singular-page-1073  .stressed-linen { background-image: url('../images/stressed-linen.png');  }
.singular-page-1073  .transparent-square-tiles { background-image: url('../images/transparent-square-tiles.png');  }
.singular-page-1073  .woven-light { background-image: url('../images/woven-light.png');  }
