/****************************************
* page d'accueil test 
****************************************/

/***************************************
* responsive
***************************************/
@media only screen and (min-width: 760px) {
	.singular-page-1045 #container {
		max-width: 1000px;
		padding: 3px 0 0;
	}
}

/***************************************
* secondary menu and header
***************************************/
@media only screen and (min-width: 760px) {

	.singular-page-1045 #menu-secondary >.wrap {
		width: 100%;
	}

	.singular-page-1045 #menu-secondary .menu-items {
		float: right;
		background-color: #bc101a;
		border-radius: 5px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		margin-bottom: 5px;
	}
	
	.singular-page-1045 #menu-secondary {
		margin: 0 auto 0px;
		background: none;
		border: none;
	}

	.singular-page-1045 #header {
		min-height: 200px;  /* important to display the clipped path */
		background-image: url('../images/NK3752-Lavender.png');
		/*
		* !!!!
		* see http://cssplant.com/clip-path-generator
		* to to generate code for firefox and iOS
		*/
		/*Chrome,Safari*/
		-webkit-clip-path: polygon(0px 149px,705px 190px,1060px 132px,1060px 0px,0px 0px);

		/*Firefox*/
		clip-path: url("#clipPolygon");

		/* iOS support inline encoded svg file*/
		-webkit-mask: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiPgogIDxjbGlwUGF0aCBpZD0ic3ZnQ2xpcCI+CiAgICA8cGF0aCBpZD0ic3ZnUGF0aCIgZD0iTTAsMTQ5IEw3MDUsMTkwIDEwNjAsMTMyIDEwNjAsMCAwLDAgeiIvPgogIDwvY2xpcFBhdGg+CiAgPHBhdGggaWQ9InN2Z01hc2siIGQ9Ik0wLDE0OSBMNzA1LDE5MCAxMDYwLDEzMiAxMDYwLDAgMCwwIHoiICAvPgo8L3N2Zz4=) no-repeat;

	}	
	
	.singular-page-1045 hgroup#branding {
		margin-bottom: -15px;
		margin-left: 5px;
	}	

	.singular-page-1045 .ald-unique-logo {
	  position: relative;
	  z-index: 10000;  /* must be on top of header */
	  top: -42px;
	  left: 0px;
	}	

	.singular-page-1045 #sidebar-subsidiary {
		background-image: url('../images/schema.png');
		background-size: 280px 210px;
		background-repeat: repeat;
		background-position: bottom right;
		background-attachment: scroll;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		padding: 10px;
	}
		
	
}

.singular-page-1045 .ald-unique-logo a img {
	float:left ;
	margin-bottom: 0px;
	padding: 0px;
	background: rgba(245,245,245,0.7);
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.singular-page-1045 .autre-ald-unique-logo a img {
	float:left ;
	margin-bottom: 0px;
	padding: 0px;
	background: whitesmoke;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/* opacity: 0.9 ; */
}

.singular-page-1045 .bouton-contact {
	background-color: whitesmoke ;
	padding: 20px 10px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-decoration: none;
	color: #bc101a;
	font-size: 120%;	
	float: right;
	margin-right: 45px;
}	


.singular-page-1045 .bouton-contact .fa {
	color: #bc101a;
	padding: 0 10px;
}

.singular-page-1045 .bouton-contact .fa-phone::before {
  font-size: 120%;
}

/***************************************
* sidebar subsidiary
***************************************/

	
.singular-page-1045 #sidebar-subsidiary .widget {
	background-color: #bc101a;
	opacity: 0.7;
	filter: alpha(opacity=70);  /*for IE7*/
	color: white;
	border-radius: 5px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
}

.singular-page-1045 h3.widget-title {
	background: white url(../images/utility-bg.png);
	border-radius: 5px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top: 1px solid #bc101a;
	border-left: 1px solid #bc101a;
	border-right: 1px solid #bc101a;
}

.singular-page-1045 .textwidget h3,
.singular-page-1045 .textwidget a,
.singular-page-1045 .textwidget p {
	color: white;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 10px;
}

.singular-page-1045 #menu-subsidiary li {
	border: 1px solid #bc101a;
	margin-right: 2px;
	border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.singular-page-1045 #menu-subsidiary {
  border: none;
}

/***************************************
* other
***************************************/

.singular-page-1045 #main {
	background-color: whitesmoke;
	background-image: url(http://www.transparenttextures.com/patterns/circles.png);
	padding: 0px 0px;
	margin-top: -75px;
}


.parent-id-892 .breadcrumb-trail {
	display: none;	
}

/* Common style for pseudo-elements */
.singular-page-1045 section::before,
.singular-page-1045 section::after,
#header::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.singular-page-1045 #titre {
	background-color: whitesmoke;
	min-height: 150px;
	padding: 120px 5px 70px 5px;
	text-align: center;
}